header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem;

    img {
        height: 40px;
    }
    nav {
        display: flex;
        align-items: space-between;
        gap: 2rem;
        .pageLink {
            text-decoration: none;
            color: black;
            font-weight: 500;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}